# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app-jobify-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-app-jobify
  template:
    metadata:
      labels:
        app: backend-app-jobify
    spec:
      containers:
        - name: app-jobify
          image: sekarfeb/jobify-mern-app-backend:latest
          ports:
            - containerPort: 5000
---
# service.yaml
apiVersion: v1
kind: Service
metadata:
  name: backend-app-jobify-service
spec:
  selector:
    app: backend-app-jobify 
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: LoadBalancer
  loadBalancerIP: 34.134.220.123
  




